<!--<div class="center jumbotron">-->
<!--  <div class="text-center">-->
<!--    <h1>Welcome to the Microposts</h1>-->
<!--  </div>-->
<!--</div>-->


<section id="top">
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the NO! Food Loss</h1>
  </div>
</div>
</section>

<section id="about">
<div class="center jumbotron">
  <div class="text-left">
    <h2>NO! Food Lossとは</h2>
    <h4>「フードロス」削減のためのプラットフォーム</h4>
    <p>閉店間際など、まだおいしく安全に食べられるのに廃棄の危機に直面している食事を「食べ手」とつなぎ、
最後まで売り切ることを応援するプラットフォームです。</p>
  </div>
</div>
</section>

<section id="use">
<div class="center jumbotron">
  <div class="text-left">
    <h2>使い方</h2>
    <h4>「フードロス」削減のためのプラットフォーム</h4>
    <p>閉店間際など、まだおいしく安全に食べられるのに廃棄の危機に直面している食事を「食べ手」とつなぎ、
最後まで売り切ることを応援するプラットフォームです。</p>
  </div>
</div>
</section>

<section id="items">
<div class="center jumbotron">
  <div class="text-left">
    <h2>商品一覧</h2>
    <h4>「フードロス」削減のためのプラットフォーム</h4>
    <p>閉店間際など、まだおいしく安全に食べられるのに廃棄の危機に直面している食事を「食べ手」とつなぎ、
最後まで売り切ることを応援するプラットフォームです。</p>
  </div>
</div>
</section>




